html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Hide scrollbar for all elements */
* {
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
}

*::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

body {
  background-color: var(--background);
  color: var(--foreground);
} 